.panel-shadow-container {
  border: 1px solid #b9b9b9;
  padding: 10px;
  border-radius: 5px;
  width: 255px;
  .single-shadow-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
    .components-base-control.components-input-control.components-number-control {
      margin: 0px;
    }
  }
  .components-base-control.components-toggle-control{
    margin:0px
  }
}
