.media-area-container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 110px;
  .media-area-image{
    border: 1px solid #ccc;
  }
  .media-bottom {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: center;
    background: #161616;
    color: white;
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
  }
  .media-delete {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #161616;
    padding: 3px 6px;
    display: none;
    i {
      color: white;
    }
  }
  .media-area-svg-add {
    border: 1px solid #ccc;
    background: #dbdbdb;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
    background: white;
    color: #181818;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px #c3c3c3;
    padding: 9px;
    font-size: 30px;
    }
  }
}
.media-area-container:hover {
  .media-bottom {
    bottom: 0;
  }
  .media-delete {
    display: block;
  }
}
