.custom-tinymce-button {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #3c3c3c;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s linear;
    margin-left: -1.5px;
    margin-bottom: 4px;
}
.custom-tinymce-button:hover{
  background: #f1f1f1;
}
